n8n/workflows/01-production-analysis.json
{
  "name": "Production Line Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "production-analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "CSV Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "dfa6f28c-a070-4aad-a40b-a807c743f88b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://production-analyst:8000/webhook/analyze",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "name": "Call FastAPI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Return Analysis",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "CSV Upload Webhook": {
      "main": [
        [
          {
            "node": "Call FastAPI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call FastAPI Analysis": {
      "main": [
        [
          {
            "node": "Return Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
