n8n/workflows/02-production-chat.json
{
  "name": "Production Line Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "production-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "af26d1b6-0140-468b-bfdd-decdfc55b972"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://production-analyst:8000/webhook/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: $json.body.session_id, message: $json.body.message }) }}",
        "options": {}
      },
      "name": "Call FastAPI Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Return Chat Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Call FastAPI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call FastAPI Chat": {
      "main": [
        [
          {
            "node": "Return Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
